body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: orange;
}
p{
    color: white;
}
button{
    background: orange;
    border-radius: 7px;
}
button:hover{
    background: rgb(151, 100, 4);
}
button:active{
    transform: scale(0.95) 

}